<html>
  <head>
    <title>Cabs app</title>
  </head>
  <body>
    <h1>Cabs app</h1>
    <p>
        Citizen insecurity is complex, cabs are a real big source of crimes 
        because of lack of strong regulation laws. This tools is build by users 
        for users. We are going to regulate the entire taxis inside city using an 
        straighforward mecanism of scoring, thus each vehicule offering a service 
        will be scored by people.
    </p>
  </body>
</html> 